<h5 class="semi-black-text motion-picture-font-text center">
    Sugestões de Presentes
</h5>

<div class="card search-input">
    <div class="row">
        <div class="col s12">
            <div class="input-field">
                <input id="search" ng-model="giftListCtrl.search" type="search" required="" ng-disabled="giftListCtrl.loading">
                <label for="search" class=""><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
            </div>
        </div>
    </div>
</div>


<div class="row no-pad-top grid-gifts-list" ng-hide="giftListCtrl.loading">

    <div class="col s12 m4" ng-repeat="product in giftListCtrl.products
            | filter : giftListCtrl.search
            | filter : giftListCtrl.filterByCategory
            | filter : giftListCtrl.filterByPrice">

        <div class="card gift with-padding waves-effect waves-block waves-light" modal open="giftListCtrl.showModal" data-target="modal"
             ng-click="giftListCtrl.clickItem(product)">
            <div class="card-image">
                <img class="activator" ng-src="{{product.image}}">
            </div>
            <div class="card-content">
                <span class="activator grey-text text-darken-4">{{product.name}}</span>

            </div>
        </div>
    </div>

</div>

<pre-loader show="giftListCtrl.loading"></pre-loader>

<div id="modal" class="modal modal-fixed-footer">
    <div class="modal-header">
        <h6 class="flow-text text-center">{{giftListCtrl.selectedProduct.name}}</h6>
    </div>
    <div class="modal-content">
        <img class="center-image" ng-src="{{giftListCtrl.selectedProduct.image}}"/>
        <p>Preço Médio: {{giftListCtrl.selectedProduct.cost | currency:'R$'}}
           <span ng-if="giftListCtrl.selectedProduct.amount > 1">
               <br/>Quantidade: {{giftListCtrl.selectedProduct.amount}}
           </span>
        </p>
        <h5 class="how-to-give">Como presentear os noivos com este produto</h5>

        <ul class="collapsible popout" data-collapsible="accordion">
            <li ng-show="giftListCtrl.containsTag(giftListCtrl.selectedProduct, giftListCtrl.categories.BUY_LOCAL)">
                <div class="collapsible-header"><i class="material-icons">place</i>Comprar em Natal</div>
                <div class="collapsible-body">
                    <div class="collection">
                        <a ng-href="{{store.local}}" target="_blank" class="collection-item"
                           ng-repeat="store in giftListCtrl.selectedProduct.whereBuy | filter : {local : ''}">{{store.store}}</a>
                    </div>

                </div>
            </li>
            <li ng-show="giftListCtrl.containsTag(giftListCtrl.selectedProduct, giftListCtrl.categories.BUY_FROM_INTERNET)">
                <div class="collapsible-header"><i class="material-icons">computer</i>Comprar pela Internet</div>
                <div class="collapsible-body">
                    <div class="collection">
                        <a  ng-href="{{store.url}}" target="_blank" class="collection-item"
                            ng-repeat="store in giftListCtrl.selectedProduct.whereBuy | filter : {url: ''}">{{store.store}}</a>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">attach_money</i>Transferir o valor do produto para os noivos</div>
                <div class="collapsible-body">
                   <div class="collection">
                       <!--  !!!!!! -->
                       <div class="collection-item">
                           <h6>Banco do Brasil:</h6>
                           <p class="account-detail">Agência: xxx-x<br/>
                           Conta: xxxx-x</p>
                           <h6>Caixa Econômica Federal:</h6>
                           <p class="account-detail">Agência: xxxx-x<br/>
                               Conta: xxxx-x</p>
                       </div>
                       <a class="collection-item" submit form="pagseguro" href="#">
                           <img src="https://stc.pagseguro.uol.com.br/public/img/botoes/pagamentos/209x48-comprar-assina.gif"
                                alt="Pague com PagSeguro - é rápido, grátis e seguro!" />

                       </a>
                       <buy-submit form="pagseguro"
                                   amount="giftListCtrl.selectedProduct.amount"
                                   product-name="giftListCtrl.selectedProduct.name"
                                   price="giftListCtrl.selectedProduct.cost"></buy-submit>
                   </div>
                </div>
            </li>
        </ul>

    </div>
    <div class="modal-footer">

        <a href="javascript:void(0)" form="pagseguro" submit class="modal-action modal-close waves-effect waves-light btn left">
            <i class="material-icons left">card_giftcard</i>Presentear
        </a>

        <a href="javascript:void(0)" class="modal-action modal-close waves-effect waves-green btn-flat">
            <i class="material-icons left">close</i>Fechar
        </a>
    </div>
</div>

<div class="fixed-action-btn">
    <a id="filterGiftsBtn" ng-show="giftListCtrl.showFilterButton" data-activates="filter-nav" class="btn-floating btn-large waves-effect waves-light pink fade"><i class="material-icons">filter_list</i></a>
</div>

<div id="filter-nav" class="side-nav filter-nav">
    <h6 class="center header-filter-text">Filtre os presentes por categorias</h6>
    <h6>Por onde você gostaria de comprar?</h6>
    <ul>
        <li>
            <input type="checkbox" id="byInternet" ng-model="giftListCtrl.buyFromInternet" />
            <label for="byInternet">Pela Internet</label>
        </li>
        <li>
            <input type="checkbox" id="byNatal" ng-model="giftListCtrl.buyLocal" />
            <label for="byNatal">Em alguma loja em Natal</label>
        </li>
    </ul>
    <h6>Média de Preço?</h6>
    <div id="range" class="range"></div>
    <h6 id="valor-range" class="range-price"></h6>
    <h6>Outras Categorias</h6>
    <ul>
        <li>
            <input type="checkbox" id="brideFav" ng-model="giftListCtrl.brideFav" />
            <label for="brideFav">Favoritos da Noiva</label>
        </li>
        <li>
            <input type="checkbox" id="groomFav" ng-model="giftListCtrl.groomFav" />
            <label for="groomFav">Favoritos do Noivo</label>
        </li>
        <li>
            <input type="checkbox" id="chipIn" ng-model="giftListCtrl.chipIn" />
            <label for="chipIn">Vaquinhas</label>
        </li>
        <li>
            <input type="checkbox" id="householdAppliance" ng-model="giftListCtrl.householdAppliance" />
            <label for="householdAppliance">Eletrodomésticos</label>
        </li>
        <li>
            <input type="checkbox" id="furnitures" ng-model="giftListCtrl.furnitures" />
            <label for="furnitures">Móveis</label>
        </li>
        <li>
            <input type="checkbox" id="kitchen" ng-model="giftListCtrl.kitchen" />
            <label for="kitchen">Cozinha</label>
        </li>
        <li>
            <input type="checkbox" id="livingRoom" ng-model="giftListCtrl.livingRoom" />
            <label for="livingRoom">Sala</label>
        </li>
        <li>
            <input type="checkbox" id="coupleRoom" ng-model="giftListCtrl.room" />
            <label for="coupleRoom">Quarto do Casal</label>
        </li>

    </ul>



</div>