<h5 class="semi-black-text motion-picture-font-text center">
    Sugestões de Presentes
</h5>

<div class="card search-input">
    <div class="row">
        <div class="col s12">
            <div class="input-field">
                <input id="search" ng-model="giftListCtrl.search" type="search" required="">
                <label for="search" class=""><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
            </div>
        </div>
    </div>
</div>


<div class="row no-pad-top grid-gifts-list">

    <div class="col s12 m4" ng-repeat="product in giftListCtrl.products
            | filter : giftListCtrl.search
            | filter : giftListCtrl.filterByCategory
            | filter : giftListCtrl.filterByPrice">

        <div class="card with-padding waves-effect waves-block waves-light" modal open="giftListCtrl.showModal" data-target="modal"
             ng-click="giftListCtrl.clickItem(product)">
            <div class="card-image">
                <img class="activator" ng-src="{{product.image}}">
            </div>
            <div class="card-content">
                <span class="activator grey-text text-darken-4">{{product.name}}</span>

            </div>
        </div>
    </div>

</div>

<div id="modal" class="modal">
    <div class="modal-content">
        <h6 class="flow-text text-center">{{giftListCtrl.selectedProduct.name}}</h6>
        <img class="center-image" ng-src="{{giftListCtrl.selectedProduct.image}}"/>
        <p>Preço Médio: {{giftListCtrl.selectedProduct.cost | currency:'R$'}}</p>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0)" class="modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>

<div class="fixed-action-btn">
    <a id="filterGiftsBtn" ng-show="giftListCtrl.showFilterButton" data-activates="filter-nav" class="btn-floating btn-large waves-effect waves-light pink fade"><i class="material-icons">filter_list</i></a>
</div>

<div id="filter-nav" class="side-nav filter-nav">
    <h6 class="center header-filter-text">Filtre os presentes por categorias</h6>
    <h6>Por onde você gostaria de comprar?</h6>
    <ul>
        <li>
            <input type="checkbox" id="byInternet" ng-model="giftListCtrl.buyFromInternet" />
            <label for="byInternet">Pela Internet</label>
        </li>
        <li>
            <input type="checkbox" id="byNatal" ng-model="giftListCtrl.buyLocal" />
            <label for="byNatal">Em alguma loja em Natal</label>
        </li>
    </ul>
    <h6>Média de Preço?</h6>
    <div id="range" class="range"></div>
    <h6 id="valor-range" class="range-price"></h6>
    <h6>Outras Categorias</h6>
    <ul>
        <li>
            <input type="checkbox" id="brideFav" ng-model="giftListCtrl.brideFav" />
            <label for="brideFav">Favoritos da Noiva</label>
        </li>
        <li>
            <input type="checkbox" id="groomFav" ng-model="giftListCtrl.groomFav" />
            <label for="groomFav">Favoritos do Noivo</label>
        </li>
        <li>
            <input type="checkbox" id="chipIn" ng-model="giftListCtrl.chipIn" />
            <label for="chipIn">Vaquinhas</label>
        </li>
        <li>
            <input type="checkbox" id="householdAppliance" ng-model="giftListCtrl.householdAppliance" />
            <label for="householdAppliance">Eletrodomésticos</label>
        </li>
        <li>
            <input type="checkbox" id="furnitures" ng-model="giftListCtrl.furnitures" />
            <label for="furnitures">Móveis</label>
        </li>
        <li>
            <input type="checkbox" id="kitchen" ng-model="giftListCtrl.kitchen" />
            <label for="kitchen">Cozinha</label>
        </li>
        <li>
            <input type="checkbox" id="livingRoom" ng-model="giftListCtrl.livingRoom" />
            <label for="livingRoom">Sala</label>
        </li>
        <li>
            <input type="checkbox" id="coupleRoom" ng-model="giftListCtrl.room" />
            <label for="coupleRoom">Quarto do Casal</label>
        </li>

    </ul>



</div>