<h5 class="semi-black-text motion-picture-font-text center">
    Gifts Suggestions
</h5>

<div class="card search-input">
    <div class="row">
        <div class="col s12">
            <div class="input-field">
                <input id="search" ng-model="giftListCtrl.filterService.search" type="search" placeholder="Type here to search for gifts" required="" ng-disabled="giftListCtrl.loading">
                <label for="search" class=""><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
            </div>
        </div>
    </div>
</div>


<div class="row no-pad-top grid-gifts-list" ng-hide="giftListCtrl.loading">

    <div class="col s12 m6 l4" ng-repeat="product in giftListCtrl.products
            | filter : giftListCtrl.filterService.search
            | filter : {alreadyHaveIt: '!true'}
            | filterByCategory
            | filterByPrice
            | orderBy: '-cost'
            | orderBy: giftListCtrl.orderByBridGroomFav">

        <div class="card gift with-padding waves-effect waves-block waves-light" modal open="giftListCtrl.showModal" data-target="modal"
             ng-click="giftListCtrl.clickItem(product)">
            <div class="card-image">
                <i class="fa fa-heart pink-text right" ng-show="giftListCtrl.filterProductService.containsTag(product, giftListCtrl.categories.BRIDE_FAV.id)"></i>
                <i class="fa fa-heart semi-black-text right" ng-show="giftListCtrl.filterProductService.containsTag(product, giftListCtrl.categories.GROOM_FAV.id)"></i>
                <image-onload classes="'activator'" src="product.image_url"></image-onload>
            </div>
            <div class="card-content">
                <span class="activator grey-text text-darken-4">{{product.name}}</span>

            </div>
        </div>
    </div>

    <div class="col s12 m6 l4" ng-repeat="product in giftListCtrl.products
            | filter : giftListCtrl.filterService.search
            | filter : {alreadyHaveIt: true}
            | filterByCategory
            | filterByPrice
            | orderBy: '-cost'
            | orderBy: giftListCtrl.orderByBridGroomFav">

        <div class="card gift with-padding waves-effect waves-block waves-light disabled" >
            <div class="card-image">
                <i class="fa fa-heart pink-text right" ng-show="giftListCtrl.filterProductService.containsTag(product, giftListCtrl.categories.BRIDE_FAV.id)"></i>
                <i class="fa fa-heart semi-black-text right" ng-show="giftListCtrl.filterProductService.containsTag(product, giftListCtrl.categories.GROOM_FAV.id)"></i>
                <image-onload classes="'activator'" src="product.image_url"></image-onload>
            </div>
            <div class="card-content">
                <span class="activator grey-text text-darken-4">{{product.name}}</span>

            </div>
            <span class="already-have-it pink-text flow-text">WE ALREADY WON!</span>
        </div>
    </div>

</div>

<pre-loader show="giftListCtrl.loading"></pre-loader>

<div id="modal" class="modal bottom-sheet modal-bottom-sheet__full-height">
    <div class="modal-header pink lighten-2">
        <div class="modal-header-content">
            <a href="javascript:void(0)" class="left modal-action modal-close waves-effect waves-light btn-flat btn-back white-text">
                <i class="material-icons left">arrow_back</i>
                <span>Back</span>
            </a>
        </div>
    </div>
    <div class="modal-content pink lighten-5">

        <div class="row">

            <div class="col s10 offset-s1">
                <div class="card">
                    <div class="card-image">
                        <image-onload classes="'center-image'" classes-text="'center-image center'" src="giftListCtrl.selectedProduct.image_url"></image-onload>
                        <a  ng-click="giftListCtrl.give()" class="btn-floating btn-large halfway-fab waves-effect waves-light">
                            <i class="material-icons">card_giftcard</i></a>
                    </div>

                    <div ng-show="!giftListCtrl.showGiveProductForm" class="card-content grey lighten-3">
                        <span class="card-title pink-text">
                            {{giftListCtrl.selectedProduct.name}}
                        </span>

                        <p class="semi-black-text">Average Price: {{giftListCtrl.selectedProduct.cost | currency:'R$'}}
                            <span ng-if="giftListCtrl.selectedProduct.amount > 1">
               <br/>Quantidade: {{giftListCtrl.selectedProduct.amount}}
           </span>
                        </p>
                        <h5 class="how-to-give">How to give them this gift:</h5>

                        <ul class="collapsible popout" data-collapsible="accordion">
                            <li ng-show="giftListCtrl.filterProductService.containsTag(giftListCtrl.selectedProduct, giftListCtrl.categories.BUY_LOCAL.id)">
                                <div class="collapsible-header"><i class="material-icons">place</i>But it in Natal</div>
                                <div class="collapsible-body">
                                    <div class="collection">
                                        <a ng-href="{{store.local}}" target="_blank" class="collection-item"
                                           ng-repeat="store in giftListCtrl.selectedProduct.whereBuy | filter : {local : ''}">{{store.store}}</a>
                                    </div>

                                </div>
                            </li>
                            <li ng-show="giftListCtrl.filterProductService.containsTag(giftListCtrl.selectedProduct, giftListCtrl.categories.BUY_FROM_INTERNET.id)">
                                <div class="collapsible-header"><i class="material-icons">computer</i>Buy it from Internet</div>
                                <div class="collapsible-body">
                                    <div class="collection">
                                        <a  ng-href="{{store.url}}" target="_blank" class="collection-item"
                                            ng-repeat="store in giftListCtrl.selectedProduct.whereBuy | filter : {url: ''}">{{store.store}}</a>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header"><i class="material-icons">attach_money</i>Make a transfer to the groom's bank account</div>
                                <div class="collapsible-body">
                                    <div class="collection">
                                        <!--  !!!!!! -->
                                        <div class="collection-item">
                                            <h6>Example Bank:</h6>
                                            <p class="account-detail">bank account information
                                        </div>
                                        <a class="collection-item" submit form="pagseguro" href="#">
                                            <img src="https://stc.pagseguro.uol.com.br/public/img/botoes/pagamentos/209x48-comprar-assina.gif"
                                                 alt="Pague com PagSeguro - é rápido, grátis e seguro!" />

                                        </a>
                                        <buy-submit form="pagseguro"
                                                    amount="giftListCtrl.selectedProduct.amount"
                                                    product-name="giftListCtrl.selectedProduct.name"
                                                    price="giftListCtrl.selectedProduct.cost"></buy-submit>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <give-button show="giftListCtrl.showGiveProductForm"></give-button>

                </div>
            </div>
        </div>

    </div>
</div>

<div ng-include="'src/gifts-list/filter-nav/index.html'"/>