<div ng-controller="FilterNavController as filterCtrl">

    <div class="fixed-action-btn">
        <a id="filterGiftsBtn" ng-show="filterCtrl.showFilterButton" data-activates="filter-nav"
           class="btn-floating btn-large waves-effect waves-light pink fade"><i
                class="material-icons">filter_list</i></a>
    </div>

    <div id="filter-nav" class="side-nav filter-nav">
        <h6 class="center header-filter-text">Filter the gifts by categories</h6>
        <h6>Where would you like to buy from?</h6>
        <ul>
            <li>
                <input type="checkbox" id="byInternet" ng-model="filterCtrl.filterService.filterTags.buyFromInternet"/>
                <label for="byInternet">From online stores</label>
            </li>
            <li>
                <input type="checkbox" id="byNatal" ng-model="filterCtrl.filterService.filterTags.buyLocal"/>
                <label for="byNatal">In any store located in Natal</label>
            </li>
        </ul>
        <h6>Any price average?</h6>
        <div id="range" class="range"></div>
        <h6 id="valor-range" class="range-price"></h6>
        <h6>Other Categories</h6>
        <ul>
            <li ng-repeat="category in filterCtrl.categoriesArray | filter : {showInAdminModal: true}">
                <input type="checkbox" id="{{category.id}}" ng-model="filterCtrl.filterService.filterTags[category.attr]"/>
                <label for="{{category.id}}">{{category.name}}</label>
            </li>
        </ul>


    </div>
</div>