<div class="card header">
    <div class="card-content">
        <span class="card-title text-center flow-text">Manage Products List</span>
        <a ng-click="adminCtrl.logout()" class="btn-flat right">
            <i class="material-icons pink-text">power_settings_new</i>
        </a>
        <div class="row no-margin-bottom">
            <div class="s12 m8 l8">


                <div class="search-input">
                    <div class="input-field">
                        <input id="search" ng-model="adminCtrl.search" type="search" required="" ng-disabled="adminCtrl.loading">
                        <label for="search" class=""><i class="material-icons">search</i></label>
                        <i class="material-icons">close</i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="admin-body">
    <div class="card" ng-show="adminCtrl.loading">
        <div class="card-content">
            <pre-loader size="big" show="true" />
        </div>
    </div>

    <div class="row gifts-list">

        <div class="col s12 m6 l4" ng-repeat="product in adminCtrl.products | filter : adminCtrl.search">

            <div class="card gift with-padding waves-effect waves-block waves-light"
                 modal open="adminCtrl.showModal" data-target="modal" ng-click="adminCtrl.clickItem(product)">
                <div class="card-image">
                    <image-onload classes="'activator'" src="product.image_url"></image-onload>
                </div>
                <div class="card-content">
                    <span class="activator grey-text text-darken-4">{{product.name}}</span>
                </div>
            </div>
        </div>

    </div>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large waves-effect waves-light semi-black right" ng-disabled="adminCtrl.loading" modal open="adminCtrl.showModal" data-target="modal" ng-click="adminCtrl.newProduct()"><i class="material-icons">add</i></a>
    </div>
</div>

<div id="modal" class="modal modal-fixed-footer">
    <div class="modal-header">
        <h6 class="flow-text text-center">Product Form</h6>
    </div>
    <div class="modal-content">
        <h6 ng-hide="adminCtrl.selectedImage.url" class="center" >No image selected</h6>
        <img class="center-image" ng-src="{{adminCtrl.selectedImage.url}}" ng-show="adminCtrl.selectedImage.url"/>

        <div class="file-field input-field">
            <div class="btn">
                <span>Change Image</span>
                <input type="file" selectedimage="adminCtrl.selectedImage" accept="image/*">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>

        <form ng-submit="adminCtrl.submit()" action="#" id="formProduct" class="col s12 offset-m4 m4 offset-l4 l4">
            <div class="row">

                <div class="input-field col s12">
                    <input id="product_name" required ng-model="adminCtrl.selectedProduct.name" type="text" class="validate">
                    <label for="product_name">Product Name</label>
                </div>

            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="product_price" required ng-model="adminCtrl.selectedProduct.cost" type="text"
                             ui-money-mask class="validate">
                    <label for="product_price">Price</label>
                </div>

                <div class="input-field col s6">
                    <input id="product_amount" required ng-model="adminCtrl.selectedProduct.amount" type="number" min="1" class="validate">
                    <label for="product_amount">Amount</label>
                </div>
            </div>

            <div class="row">
                <p>Select Tags:</p>
                <div class="col s12 m6 l4" ng-repeat="category in adminCtrl.categoriesList | filter : {showInAdminModal: true}">
                    <input ng-click="adminCtrl.categoryCheckedChange(category)" ng-checked="adminCtrl.selectedProductContainsCategory(category)" type="checkbox" id="{{category.id}}" />
                    <label for="{{category.id}}">{{category.name}}</label>
                </div>
            </div>
        </form>
        <form name="newStore" ng-submit="adminCtrl.addNewStore()">
            <div class="row">
                <p>Where Buy:</p>
                <div class="input-field col s12 m6">
                    <select id="selectWhereBuy" required name="whereBuy">
                        <option value="buy-from-internet">On Internet</option>
                        <option value="buy-local">In City</option>
                    </select>
                    <label>Where your guest can find this product?</label>
                </div>

                <div class="input-field col s12 m6">
                    <input required name="name" ng-model="adminCtrl.newStore.name" id="storeName" type="text" class="validate">
                    <label for="storeName">Store's name</label>
                </div>

                <div class="input-field col s9 m11">
                    <input required type="url" name="url" placeholder="A Google Maps Link to Location or the page in store where is the product"
                           ng-model="adminCtrl.newStore.url" id="url" class="validate">
                    <label for="url">URL</label>
                    <span class="red-text" ng-show="newStore.url.$error.url">Invalid URL address. It must start with 'http://' or 'https://'</span>
                </div>
                <div class="col s3 m1 input-field center">
                    <button type="submit" class="btn-floating red waves-effect waves-light btn s2"
                           ng-disabled="newStore.name.$invalid || newStore.url.$invalid || newStore.whereBuy.$invalid">
                    <i class="material-icons">add</i>
                    </button>
                </div>

            </div>
        </form>

            <div class="row">
                <ul class="collection">
                    <li class="collection-item" ng-repeat="store in adminCtrl.selectedProduct.whereBuy">
                        <div>
                            <div class="chip" ng-show="store.local">In City</div>
                            <div class="chip" ng-show="store.url">On Internet</div>
                            <span class="title center">
                                <a target="_blank" href="{{store.local?store.local:store.url}}">
                                    {{store.store}}
                                </a>
                            </span>
                            <a ng-click="adminCtrl.removeStore(store)" href="javascript:void(0)" class="secondary-content"><i class="semi-black-text material-icons">delete</i></a>
                        </div>
                    </li>
                </ul>
            </div>


    </div>
    <div class="modal-footer">



        <a href="javascript:void(0)" ng-click="adminCtrl.submit()" ng-disabled="adminCtrl.loading" class="modal-action waves-effect waves-light btn left">
            <i class="material-icons left">check</i>Save
        </a>

        <a href="javascript:void(0)" ng-disabled="adminCtrl.loading" class="modal-action modal-close waves-effect waves-green btn grey">
            <i class="material-icons left">close</i>Close
        </a>

    </div>
</div>






